<br></br>
<h4> Customer Info <h4>

<br></br>
     
        <h5> Tee Time Booked </h5>
           
        <br></br>
            <label> Name: <%= @user.name %></label></br>
            <label> Tee Time <%= @teetime.tee_time %></br>
            <br></br>

            

            <br></br>
            <%= link_to "profile", user_path(@user)%> | <%= link_to "courses", golf_courses_path %>
        