<h4> Customer Info <h4>

        
     
        <h5> Tee Time Booked
       
            <label> Name: <%= @user.name %></label></br>
            <label> Tee Time <%= @teetime.tee_time %></br>

           
            <h5><%= link_to "profile", user_path(@user)%>
        