<h1> Available Courses </h1>

    <% @course.each do |course| %>
      <ol><%= link_to course.name, golf_course_path(course) %></ol>
      
    <%end%>
    <br></br>
    <%= link_to "Back to profile page", @userprofile%> 