<h1> Welcome <%= @user.name %> </h1>
    
    <h5> Your Profile Info </h5>
    <h6><%= link_to "Edit Info", @user %></h6>
        <label> Name: <%= @user.name %></label></br>
        <label> Address: <%= @user.address %><label>

   


