<br></br>
<h1> Welcome <%= @user.name %> </h1>
</br>
    <h5> Your Profile Info </h5>
    </br>
        <label> Name: <%= @user.name %></label></br>
        </br>
        <%= link_to "Golf Courses", golf_courses_path %> | <%= link_to "Edit Info / Delete", edit_user_path %>

   


