<h1> Welcome <%= @user.name %> </h1>
    
    <h5> Your Profile Info </h5>
    
        <label> Name: <%= @user.name %></label></br>
      

        <%= link_to "Golf Courses", golf_courses_path %> | <%= link_to "Edit Info / Delete", edit_user_path %>

   


