<h5> Your Profile Info </h5>
        
        
        <h4> Customer Info <h4>

        
     
        
        <%= form_with model: @scorecard, local: true do |f| %>
          <label> Name: <%= f.collection_select :user_id, User.all, :id, :name %></label></br>
            <label> Tee Time <%= f.datetime_select :tee_time %></br>

           
            <%= f.submit "Submit" %>
        <% end %>
        